<!DOCTYPE html>
<html>
<%- include("../includes/head") %>

<body>
  <header class="container-fluid ">
      <%- include('../includes/navbarSec', {page:'addSec'}) %>
  </header>

  <main class="container animated fadeIn" id="fader">
    <h2>Ajouter un secretaire</h2>
    <form method="POST">
      <div class="form-group">
        <label for="userN">Nom d'utilisateur</label>
        <input type="text" class="form-control" name="userN" id="userN" placeholder="Entrer le nom d'utilisateur">
      </div>
      <div class="form-group">
        <label for="userPass">Mot de passe</label>
        <input type="password" class="form-control" name="userPass" id="userPass" placeholder="Entrer le mot de passe">
      </div>

      <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
  </main>
</body>

</html>