<nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">
  <i class="navbar-brand">SMI PFE</i>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="cursor: ponter;" class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown <%= page=='doctorant'? 'active':'' %> ">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Doctorant
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/secretary/doctorant-list">Liste des doctorants</a>
            <a class="dropdown-item" href="/secretary/add-doctor">Ajouter un doctorant</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown <%= page=='encadrant'? 'active':'' %>">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Encadrants
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/secretary/encadrant-list">Liste des encadrants</a>
            <a class="dropdown-item" href="/secretary/add-encadrant">Ajouter un encadrant</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown <%= page=='these'? 'active':'' %>">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Theses
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/secretary/these-list">Liste des theses</a>
            <a class="dropdown-item" href="/secretary/add-these">Ajouter une these</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="collapsed ">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <form action="/logout" method="post">
          <button class="btn-sm btn-secondary text-warning btn mr-auto" type="submit">Se deconnecter</button>
        </form>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>