<!DOCTYPE html>
<html>
<%- include("../includes/head") %>

<body>
    <header class="container-fluid sticky-top">
        <%- include('../includes/navbar', {page: 'encadrant'}) %>
    </header>
    <main class="container">
        <div>
            <h3 class="text-secondary">Veuillez saisir les informations de l'encadrant:</h3>
            <hr>
        </div>

        <div class="container">
            <form method="POST" action="/secretary/add-encadrant">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="prenom">Prenom</label>
                        <input value="Boulouz" type="text" class="form-control" name="prenom" id="prenom"
                            placeholder="Votre prenom">
                    </div>
                    <div class="form-group col">
                        <label for="nom">Nom</label>
                        <input value="Machkour" type="text" class="form-control" name="nom" id="nom"
                            placeholder="Votre Nom">
                    </div>
                    <div class="form-group col-6">
                        <label for="profil">Photo de profil</label>
                        <input value="https://picsum.photos/200" type="text" class="form-control" name="profil"
                            id="profil" placeholder="Entrer l'URL de votre image de profil">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="cin">CIN:</label>
                        <input value="jk7493643" type="text" class="form-control" name="cin" id="cin"
                            placeholder="Votre CIN">
                    </div>
                    <div class="form-group col">
                        <label for="dateNaiss">Date de naissance</label>
                        <input value="2000-05-01 16:17:09" type="datetime" class="form-control" name="dateNaiss"
                            id="dateNaiss">
                    </div>
                    <div class="form-group col">
                        <label for="lieuNaiss">Lieu de Naissance</label>
                        <input value="Agadir" type="text" class="form-control" name="lieuNaiss" id="lieuNaiss"
                            placeholder="Votre lieu de naissance">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="special">Specialite:</label>
                        <input value="blabla" type="text" class="form-control" name="special" id="special"
                            placeholder="Votre specialite">
                    </div>
                    <div class="form-group col">
                        <label for="tel">Telephone:</label>
                        <input value="0666666666" type="text" class="form-control" name="tel" id="tel"
                            placeholder="Votre telephone">
                    </div>
                    <div class="form-group col">
                        <label for="email">Email:</label>
                        <input value="email@email.com" type="text" class="form-control" name="email" id="email"
                            placeholder="Votre email">
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success">Ajouter</button>
            </form>
        </div>
    </main>

</body>

</html>